logs
*.log
npm-debug.log*
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.next
.vercel
.parcel-cache
node_modules/
coverage/
dist/
!.vscode/tasks.js
!.vscode/launch.json
.vs
.DS_Store
.idea
_ts3.4
*.tsbuildinfo
.watchmanconfig
tmp/
temp/
